<br>
<div class="jumbotron">
    <h1 class="display-4" *ngIf="identity" style="text-align:center">Bienvenido {{identity.name}}!!</h1>
    <h1 class="h1-main display-4">{{ title }}</h1>
    <p>Saludos desde la Houme Compionent</p>    
    <p>
        <a routerLink="/home" class="btn btn-success">Boton Uno</a>
        <a routerLink="/login" class="btn btn-primary">Boton Dos</a>
        <a routerLink="/login" class="btn btn-secondary">Boton Tres</a>
        <a routerLink="/login" class="btn btn-warning">Boton Cuatlo</a>
        <a routerLink="/login" class="btn btn-danger">Boton Cinco</a>
    </p> 
</div>