<nav class="navbar navbar-expand-lg navbar-dark bg-primary col-12">
  <!-- Navbar content -->
  <a class="navbar-brand" routerLink="/home" href="#" >{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" *ngIf='identity'>
      <li class="nav-item active">  
        <a class="nav-link" routerLink="/home" href="#"><span class="oi oi-home"></span>Home </a>
      </li>
      <li class="nav-item active">  
          <a class="nav-link" routerLink="/publications" href="#"><span class="oi oi-list"></span>Timeline </a>
      </li>
      <li class="nav-item active">  
          <a class="nav-link" routerLink='/users' href="#"><span class="oi oi-person"></span>Usuarios</a>
      </li>
      <li class="nav-item active">  
          <a class="nav-link" href="#"><span class="oi oi-envelope-closed"></span>Mensajes </a>
      </li>

    </ul>
    <ul class="navbar-nav ml-auto" *ngIf='!identity'>
      <li class="nav-item active" routerLinkActive="link-active">  
        <a class="nav-link" routerLink="/login" href="#"><span class="oi oi-person"></span>Login </a>
      </li>
      <li class="nav-item active" routerLinkActive="link-active">  
          <a class="nav-link" routerLink="/register" href="#"><i class="icon ion-md-person-add"></i> Register </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf='identity'>
      <li class="nav-item active btn-group" data-toggle="dropdown">
        <button class="btn btn-primary dropdown-toggle">
          <span class="oi oi-person"></span> {{ identity.name + ' ' + identity.surname }} 
        </button>
        <div class="dropdown-menu">
          <a href="#" [routerLink]="['/profile', identity._id]" class="dropdown-item" ><i class="icon ion-md-hand"></i> Hola</a>
          <a href="#" class="dropdown-item" routerLink="/user-edit"><i class="icon ion-md-contact"></i> Perfil</a>
          <a href="#" class="dropdown-item" (click)="logout()"><i class="icon ion-md-log-out"></i> Cerrar Sesion</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>